.grid-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.grid-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}

.grid-tile {
  position: absolute;
  overflow: hidden;
  will-change: transform;
}


.grid-tile img{
    border-radius: 20px;
}