.conta{
    height: 800px;
    width: 810px;
    background-color: #00305F;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conta h1{
    position: absolute;
    z-index: 0;
}